<div class="background-image">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <div>
          <h1 class="display-3">Unidesc</h1>
          <p class="lead">O Dspace é um repositório para postagem de documentos, arquivos e projetos</p>
        </div>
        </div>
      <ul>
        <li>Um projeto para a faculdade Unidesc utilizar em todos os cursos.
        </li>
        <li>Esta sendo feita a parte de customização basica.
        </li>
        <li>Ponderar ser feita alterações futuras, caso de continuidade no projeto.
        </li>
      </ul>
      <p>Site da unidesc <a href="https://www.unidesc.edu.br" target="_blank">Venha fazer parte dessa linda faculdade</a>.</p>
    </div>
  </div>
</div>
